.query {
  border-top: 1px solid #34495e;
  padding: 0 0.5rem 1rem;
  
  &:first-of-type {
    border-top: none;
  }

  > * {
    margin-bottom: 1rem;
  }

  .text-area {
    width: calc(100% - 10px);
    min-height: 10rem;
    display: block;
  }
}

.form {
  button {
    color: white;
    background-color: #3498db;
  }

  button,
  select {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0;
    cursor: pointer;

    &:hover {
      background-color: darken($color: #3498db, $amount: 10%);
    }
  }
}
