#generalDetails {
  height: auto;
}

#generalDetailsQuery {
  margin-top: 1rem;

  * {
    box-sizing: border-box;
  }
}

.accordion-container:last-child {
  border-bottom: 1px solid #34495e;
  padding-bottom: 1rem;
}
