@import '../../css/variables.scss';

#detailsArea .modal-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.dismissed {
    .background {
      animation: fadeIn 1 reverse 0.3s forwards ease;
    }
    .modal {
      animation: slideUp 1 reverse 0.3s forwards ease;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 1 0.3s forwards ease;
    background: rgba(#333, 0.3);
    z-index: 0;
  }

  .modal {
    background: $aside-bg-color;
    padding: 4rem 1rem 1rem 1rem;
    animation: slideUp 1 0.3s forwards ease;
    max-width: 75vw;
    min-width: 300px;
    z-index: 1;
    max-height: 90vh;
    overflow: auto;
    position: relative;

    h1.title {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      background: $aside-bg-color;
      padding-top: 1.5rem;
      height: 4rem;
    }
  }
}

@keyframes slideUp {
  from {
    display: none;
    opacity: 0;
    transform: translateY(10rem);
  }
  1% {
    display: block;
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  to {
    display: block;
    opacity: 1;
  }
}
