.table-container {
  display: flex;
  justify-content: center;
}

.results-table {
  border-spacing: 0;
  margin-top: 1rem;

  tr {
    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  th{
    font-weight: bold;
    color: white;
  }

  td, th {
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #555;
  }
}
